/**
* Created by tender_rock on 2017. 4. 5..
*/

<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
<h1><%= title%></h1>
<p>Node.js Programmingis not easy.</p>
</body>

</html>